@use '_variables.scss' as *;
@use '_media-queries.scss';
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding-top: 2em;
    background-color: $Verydarkblue_bg;
    .card{
        display: flex;
        flex-direction: column;
        padding-left: 2em;
        padding-right: 2em;
        max-width: 400px;
        width: 70%;
        margin: auto;
        background-color: $Verydarkblue_card;
        font-family: $outfit;
        border-radius: 10px;
        box-shadow: 0px 0px 15px rgba($color: #000000, $alpha: .815);
        position: relative;
        .card_img{
            &>img{
                width: 100%;
                margin: auto;
                padding-top: 2em;
                border-radius: 5px;
                cursor: pointer;
            }
            &:hover > :first-child{
                filter: opacity(0.5) brightness(5) grayscale(0.5);
            }
            &:hover>.view-icon{
                display: block;
            }
            .view-icon{
                display: none;
                position: absolute;
                width: 40px;
                left: 45%;
                top: 20%;
            }
        }
        .card_header{
            display: block;
            h1{
                display: block;
                font-weight: 600;
                font-size: 1.5rem;
                color: #fff;
            }
            p{
                display: block;
                font-weight: 300;
                font-size: 1rem;
                color: $Softblue;
                line-height: 1.5;
            }
        }
        .card_body{
            display: flex;
            flex-direction: row;
            p{
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 50%;
                color: $Cyan;
                span{
                    padding: 0.5em;
                }
                &:last-child{
                    font-weight: 300;
                    justify-content: flex-end;
                    color:hsla(178, 100%, 50%, .7);
                }
            }
        }
        .card_footer {
            display: block;
            p{
                display: flex;
                align-items: center;
                img{
                    width: 15%;
                    border:1px solid white;
                    border-radius: 100%;
                }
                span{
                    padding: 1em;
                    color: $Softblue;
                    a{
                        color: #fff;
                        text-decoration: none;
                        font-weight: 300;
                    }
                }
            }
        }
    }
}

.attribution { 
    font-size: 11px;
    text-align: center; 
    a { color: hsl(228, 45%, 44%); }
}
